* {
  border-radius: 0 !important;
}

.alpha {
	padding-left: 0px;
}

.omega {
	padding-right: 0px;
}

.panel-btn {
	/*padding: 2px;*/
	border: 0px;
	background: none;
}

.panel-heading {
	padding: 0px;
}

.panel-title {
	padding-top: 6px;
}

.transmit-form {
	padding: 5px 5px 5px 0px;
	margin-bottom: 0px;
}

.transmit-form:first-of-type {
	padding-left: 5px;
	margin-bottom: 0px;
}

.panel-body {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

input.transmit-form {
/*	border-left-width: 0px;
	border-bottom-width: 0px;*/
	padding-left: 5px;
}

input.transmit-form:focus {
	border-left-width: 1px;
}